/*COLOR CUBE*/

$charade: #272b34;
$mandy: #ea4a56;
$white: #fefefe;
$mid-gray: #6b6b6c;
$bombay: #aeaeaf;
$roti: #bcaa44;
$aliports: #036dac;
$rusty-nail: #8e5c09;

/*MEDIAN CUT*/

$median-charade: #292d39;
$sungio: #de7272;
$tapa: #75726e;
$lynch: #7780a4;
$bali-hai: #859fb4;

/*MATERIAL DESIGN*/

$design-mandy: #eb4b53a4;
$jumbo: #737376;
$blue-zodiac: #0b2037;
$ebony-clay: #2d2d45;
$sorrell-brown: #c8ba7e;

/*FONT STYLES*/
$serif: 'Lora', serif;
$sans-serif: 'Source Sans Pro', sans-serif;

/*UTILES*/

@mixin button-layout{
&:hover{
    background-color: $white !important;
    color: black;
  }
text-transform: uppercase;
border: $white 1px solid;
padding: 8px 25px;
color: $white;
background-color: rgba(255, 255, 255, 0);
  &.ae-color{
    background-color: $mandy;
    border: 0;
  }
};